.App {
  background-color: #282c34;
  color: white;
  /* padding-bottom: 5%; */
  height: 600px;;
}

.titre{
  color: #6d7a94;
  font-size: 220%;
}
.nav{
  text-align: center;
}
.li{
  width:25%;
}
.li:hover{
  background-color: #353941;
  color: white;
}

